.u-section-1 .u-sheet-1 {
  min-height: 705px;
}

.u-section-1 .u-form-1 {
  height: 563px;
  width: 570px;
  margin: 53px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  background-image: none;
}

.u-section-1 .u-input-5 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 10px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 18px auto 45px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 281px;
    margin-left: 289px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 263px;
    margin-right: 366px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 247px;
    margin-left: 323px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    margin-left: 449px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }
}