.u-section-1 .u-sheet-1 {
  min-height: 542px;
}

.u-section-1 .u-form-1 {
  height: 290px;
  width: 570px;
  margin: 106px auto 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 10px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  align-self: center;
  margin: 13px auto 0 378px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: -26px auto 60px 628px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 182px;
    margin-left: 189px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 182px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 432px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 38px;
    margin-left: 113px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 38px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}